/**
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-welcome {
    background-image: url('../img/app-dark.svg');
    filter: var(--background-invert-if-dark);
}

body.theme--dark .icon-welcome {
    background-image: url('../img/app.svg');
}
